@page
@model Bookstore.Pages.ConfirmationModel
@{
}

@*Simple confirmation page once the customer submits their cart*@

<div class="text-center">
    <h3>Your order has been processed!</h3>
    <a class="btn btn-info" asp-controller="Home">Return Home</a>
</div>