@{
}

@*Component to display number of items in cart, cart total, and a cart button to take shopper to cart*@

@model Cart

<div class="">
    @if (Model.Items.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your Cart:</b>
            @Model.Items.Sum(x => x.Quantity) item(s)
            @Model.CalculateTotal().ToString("c")
        </small>
    }
    <a class="btn btn-sm btn-secondary navbar-btn" asp-page="/Cart" asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa-solid fa-cart-shopping"></i>
    </a>
</div>